.about {
    margin:44px;
    height: auto;         
    border: 1px solid #a8a8a8;
    padding: 20px 270px 20px 270px;
    color: white;
   

    &-title {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #1c3fa5;
    }
    &-text {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
    &-list {
        list-style: none;
        font-size: 1.5rem;

        &_item {
            margin-bottom: 10px;
            color: yellow;
        }
        
    }
    
}
